@{
    ViewBag.Title = "memberbook";
}

<h2>Member book operations </h2>
<div>

    @using (Html.BeginForm("memberbookyeni", "member", FormMethod.Post))
    {


        <table border="1" align="center">
            <tr>
                <td class="lbl">
                    members name :
                </td>
                <td>
                    @Html.TextBox("ad")
                </td>
            </tr>
            <tr>
                <td class="lbl">
                    members parola :
                </td>
                <td>
                    @Html.TextBox("parola")
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Send" />
                </td>
                <td>
                    @Html.ActionLink("Cancel", "member1", "member")

                </td>
            </tr>
        </table>
    }
</div>



